/* unvisited link */
li:link {
    color: green;
}

/* visited link */
li:visited {
    color: green;
}

/* mouse over link */
li:hover {
    color: red;
}

/* selected link */
li:active {
    color: yellow;
}
